


#container {
    max-width: 800px;
    margin: 0 auto;
}

#container p {
    background: green;
    display: inline-block;
    margin: 10px;
    padding: 30px 5px;
    text-align: center;
    width: 150px;
    color: white;
}

